#map-wrapper{
  position: absolute;
  margin-left:35%;
  top:0px;
  height: 100%;
  width: 75%;
}

#map {
 position: relative;
 height:80%;
 width:100%;
}

#button-wrapper {
   position: fixed;
   right: 20px;
   bottom: 40px;
   width: 100%;
   border: 1px solid red;
}
